<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ lot.title }}</title>
</head>
<body>
<h1>{{ lot.title }}</h1>
<p><strong>Description:</strong> {{ lot.description }}</p>
<p><strong>Width:</strong> {{ lot.width }}</p>
<p><strong>Height:</strong> {{ lot.height }}</p>
<p><strong>Weight:</strong> {{ lot.weight }}</p>
<p><strong>Initial Price:</strong> {{ lot.initial_price }}</p>
<p><strong>Minimum Bid:</strong> {{ lot.minimum_bid }}</p>
<p><strong>Auction Start Date:</strong> {{ lot.auction_start_date }}</p>
<p><strong>Auction End Date:</strong> {{ lot.auction_end_date }}</p>
{% if lot.photo %}
    <img src="{{ lot.photo }}" alt="Lot Photo">
{% endif %}
<!-- Edit button -->
<form action="{{ url_for('pages.lots.edit_lot', lot_id=lot.id) }}" method="GET">
    <button type="submit">Edit</button>
</form>

<!-- Chat section -->
<h2>Chat</h2>
<ul id="chatHistory">
    {% for message in chat_messages %}
        <li>{{ message.text }}</li>
    {% endfor %}
</ul>
<input type="text" id="messageInput" placeholder="Enter your message">
<button id="sendButton">Send</button>

<!-- Bid section -->
<h2>Bids</h2>
<ul id="bidsHistory">
    {% for bid in bids %}
        <li>{{bid.amount }}</li>
  {% endfor %}
</ul>

<input type="number" id="bidInput" placeholder="Enter your bid" min="{{ lot.minimum_bid + 0.01 }}">
<button id="placeBidButton">Place Bid</button>

<!-- Include Socket.IO library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>

<!-- Your JavaScript code -->
<script>
// Define socket variable
var socket = io();

document.addEventListener('DOMContentLoaded', function() {
    // Fetch the chat history for the current lot
    fetch('{{ url_for("pages.lots.get_chat_history", lot_id=lot.id) }}')
        .then(response => response.json())
        .then(data => {
            // Display the chat history on the page
            const chatHistory = document.getElementById('chatHistory');
            data.forEach(message => {
                const messageElement = document.createElement('li');
                messageElement.textContent = message.text; });
        })
        .catch(error => console.error('Error fetching chat history:', error));
});
document.addEventListener('DOMContentLoaded', function() {
    // Fetch the bid history for the current lot
    fetch('{{ url_for("pages.lots.get_bid_history", lot_id=lot.id) }}')
        .then(response => response.json())
        .then(data => {
            // Display the bid history on the page
            const bidHistory = document.getElementById('bidHistory');
             console.log(bid.amount); data.forEach(bid => {
                const bidElement = document.createElement('li');
                bidElement.textContent = bid.amount; console.log(bid.amount);
            });
        })
        .catch(error => console.error('Error fetching bid history:', error));
});

function sendMessage() {
    const messageInput = document.getElementById('messageInput');
    const message = messageInput.value.trim();
    if (message !== '') {
        var lotId = "{{ lot.id }}";  // Get the lot ID from the server-side template
        socket.emit('chat_message', { message: message, lot_id: lotId });  // Include lot_id field
        messageInput.value = '';
    }
}

function placeBid() {
    const bidInput = document.getElementById('bidInput');
    const bid = parseFloat(bidInput.value.trim());
    const minimumBid = parseFloat("{{ lot.minimum_bid }}");
    if (!isNaN(bid) && bid > minimumBid) {
        // Send bid data via sockets
        var lotId = "{{ lot.id }}";
        socket.emit('place_bid', { bid: bid, lot_id: lotId });
        bidInput.value = '';  // Clear input field after placing bid
    }
}
// Update the chat when a new message is received via sockets
socket.on('chat_message', function(data) {
    // New message received, add it to the chat list
    const chatHistory = document.getElementById('chatHistory');
    const messageElement = document.createElement('li');
    messageElement.textContent = data.message;
    chatHistory.appendChild(messageElement);
});
// Оновлення ставок при отриманні нових даних через сокети
socket.on('bid_history', function(data) {
    // Отримано нові дані про ставку, додаємо їх до списку ставок
    const bidHistory = document.getElementById('bidHistory');
    const bidElement = document.createElement('li');
    bidElement.textContent =  data.amount;
    bidHistory.appendChild(bidElement);
});

// Example: Add a click event listener to the send button
const sendButton = document.getElementById('sendButton');
sendButton.addEventListener('click', sendMessage);

// Example: Add a click event listener to the place bid button
const placeBidButton = document.getElementById('placeBidButton');
placeBidButton.addEventListener('click', placeBid);

</script>
</body>
</html>
